@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100;1,700&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');

  * {
    margin: 0;
    padding: 0;
    /*list-style-type: none;*/
}

/* NAVBAR */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-light .navbar-brand{
    font-family: Roboto , sans-serif;
    color: #216094;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light{
    font-family: Roboto , sans-serif;
    color: #2b96f1;
}
.navbar-light .navbar-nav .nav-link{
    font-family: Roboto , sans-serif;
    color: #2b96f1;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #216094;
    text-decoration: underline;
}
/* END NAVBAR */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: 0;
}

.overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.overlay h1 {
    background: #000 none repeat scroll 0 0;
    color: #fc2a02;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
}

.overlay p {
    background: #000 none repeat scroll 0 0;
    color: tan;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
}

.overlay ul {
    background: #000 none repeat scroll 0 0;
    color: tan;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
}

.titles{
    font-family: Roboto , sans-serif;
    color: #D3472C;
    font-weight: bolder;
    font-size: 60px;
}

.subtitles{
    font-family: Roboto , sans-serif;
    color: #D3472C;
    font-weight: inherit;
    font-size: 300%;
}



.sections_text {
    font-family: Roboto , sans-serif;
    color: #b45346;
    font-weight: bold;
    font-size:
;
}

.sections_text ul{
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: lighter;
    font-size: 20px;
}

.container-about-us{
    display: grid;
    grid-template-areas:
    "tit . ."
    ". img ."
    ". . cont";
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: start;
    background: rgb(44,184,211);
    background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
;
    /*padding: 117px;*/
    /*background-color: white;*/
}

.container-about-us h1{
    grid-area: tit;
    background-color: transparent;
}

.container-about-us .content{
    grid-area: cont;
    background-color: transparent;
}
.container-about-us .content p{
    list-style-type: none;
    font-family: Roboto , sans-serif;
    color: #D3472C;
}

.container-about-us .content ul{
    list-style-type: none;
    font-family: "Roboto Thin", sans-serif;
    color: lightskyblue;
}
/*Who we are section*/
.container-who-we-are{
    padding: 150px;
    background: rgb(44,184,211);
background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
;
}
.container-persons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.container-persons .card {
    margin: 10px;
    background-color: #D3472C;
    color: #2CB8D3;
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
}


    /*Who we are section end*/

/*What we do section*/
.container-what-we-do{
    display: grid;
    grid-template-areas:
    "cont2 . ."
    ". img2 ."
    ". . tit2";
    align-items: center;
    justify-content: space-evenly;
    background: rgb(44,184,211);
background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
;
    padding: 150px;
}



.subtitle-what-we-do{
    grid-area: tit2;
    font-family: Roboto , sans-serif;
    color: D3472C;
    font-weight: inherit;
    font-size: 45px;
}

.sections_text-what-we-do{
    grid-area: cont2;
    font-family: Roboto , sans-serif;
    color: D3472C;
    font-weight: bold;
    font-size: 35px;
}

.container-what-we-do img{
    width: 100%;
    grid-area: img2;
}

.sections_text-what-we-do ul {
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: bold;
    font-size: 25px;
}

.container-what-we-do ul li{
    margin-left: 5%;
}
/*What we do section END*/

/*What we know section*/
.container-what-we-know{
    background: rgb(44,184,211);
background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
;
    padding: 120px;
}

.container-techs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
.container-techs img{
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
/*What we know section end*/

/*Where we are section*/

.location_title{
    font-family: Roboto , sans-serif;
    color: #D3472C;
    font-size: 1rem;
}

.container-where-we-are{
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background: rgb(44,184,211);
    background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
    justify-content: center;
    padding: 10%;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
}



/*Where we are section end*/

.message_box {
    width: 45%;
    height: 150px;
    margin: auto;
    position: relative;
}

.container-contact-us{
    display: grid;
    grid-template-areas:
    "contact contact contact contact"
    "phone form form form";
    grid-column-gap: 0px;
    background: rgb(44,184,211);
    background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
;
    padding: 100px;
}
.sections_text-contact-us {
    font-family: Roboto , sans-serif;
    color: #062d4d;
    font-weight: bold;
    font-size: 1rem;
}

.container-contact-us h1{
    grid-area: contact;
}
.container-contact-us img{
    grid-area: phone;
    width: 40%;
}
.container-contact-us .subtitle2{
    grid-area: form;
}

.container-join-us{
    display: flex;
    background: rgb(44,184,211);
background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
;
    padding: 120px;
    align-items: center;
    justify-content: center;
}

.container-join-us img{
    width: 40%;
}

.container-join-us a{
    text-decoration: none;
}

.send_button {
    width: 10%;
    height: 40px;
    margin: auto;
    position: relative;
}

/*Return button*/
.return_button{
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    font-family: Roboto , sans-serif;
    color: lightskyblue;
}
/*Return button end */

/*FOOTER*/
.footer{
    grid-area: footer;
    text-decoration: none;
    background: rgb(44,184,211);
    background: linear-gradient(90deg, rgba(44,184,211,1) 0%, rgba(17,205,238,1) 29%, rgba(26,229,217,1) 100%);
    display: flex;
    justify-content: flex-start;
    height: 25px;
}

.footer ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}
.footer li{
    margin-right: 20px;
    list-style-type: none;
}

.footer ul li a{
    text-decoration: none;
    font-family: 'Roboto' , sans-serif;
    color: #D3472C;
    font-size: 10px;
    font-weight: bold;
}

.footer ul li a:hover{
    color: #9a1e06;
    text-decoration: underline;
}
/*FOOTER END*/